<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title><%= current_page.data.title %> - <%= random_company_name %></title>

  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/additional-styles.css">

  <script src="/js/vendor/custom.modernizr.js"></script>

</head>
<body>