<!-- Start Header and Nav -->

<div class="row">
    <div class="large-3 columns">
      <h1><a href="/"><img src="http://placehold.it/300x100&text=Logo+Make+It+Bigger" /></a></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
      <li><a href="/" class="button">Home</a></li>
      <li><a href="/about-us.html" class="button">About Us</a></li>
      <li><a href="/services/index.html" class="button">Services</a></li>
      <li><a href="/blog/index.html" class="button">Blog</a></li>
      <li><a href="/contact-us.html" class="button">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <!-- End Header and Nav -->