<a href="#" class="fc-webicon facebook">Facebook</a>
<a href="#" class="fc-webicon twitter">Twitter</a>
<a href="#" class="fc-webicon linkedin">LinkedIn</a>
<a href="#" class="fc-webicon rss">Blog</a>