---
layout: default
title: About Us Page
breadcrumbs:
  - About Us|/about-us.html
---

<div class="row">
	<div class="large-12 columns">
		<h1>About Us</h1>
		<img src="http://placehold.it/1000x400&text=[ img 1 ]" />
	</div>
</div>
<div class="row">
	<div class="large-8 columns">
		<%= simple_format(lorem.paragraphs 2) %>
		<img src="http://placehold.it/200x200&text=[ img 1 ]" align="left" style="margin-right:5px;" />
		<%= simple_format(lorem.paragraphs 3) %>
	</div>
	<div class="large-4 columns">
		<h3>Right Sidebar</h3>
		<%= simple_format(lorem.paragraphs 1) %>
		<a class="large button" href="#">Call To Action!</a>
        <%= simple_format(lorem.paragraphs 1) %>
	</div>
</div>